<p>New Message has been received: </p>
<br/><br/>

<b>Email: </b>{{ contact_message.email }}<br/><br/>

<b>Phone Number: </b>{{ contact_message.phonemunber }}<br/><br/>
<b>Requirement: </b><br/>{{ contact_message.requirement }}